@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

.containerBarraSuperior,
footer{
    background-color: #222222;
    color: #fff;
    text-align: center;
}

.containerBarraPrincipal{
    background-color: #F0A83E;
}

a{
    color: #fff;
}

.textBanner{
    background-color: #fff;
}

.containerBanner{
    width: 100%;
    height: 545px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Img/bowl-and-pet-daities-on-green-background 1.png");
}

.containerBanner article{
    float: right;
}

button{
    background-color: #F0A83E;
    color: #fff;
    border: none;
}

.ContainerProductos{
    text-align: center;
}

.producto{
    background-color: #FBFAF6;
    height: auto;
    width: 265px;
    text-align: center;
}

.producto p{
    color: #F0A83E;
}

.contact{
    background-color: #3C2313;
    color: #fff;
}